name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t hello-jenkins-docker .

      - name: Run Docker container
        run: docker run --rm hello-jenkins-docker

